@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}


@media(min-width:768px){}

.fix {
    text-align: center;
}

.nav {
    /* position: fixed; */
    height: 80px;
    width: 100%;
    background-color: rgb(44, 47, 85);
    /* z-index: 20; */
    
}

.back {
    width: 100%;
    position: fixed;
    /* top: 80px; */
    z-index: 20;
    height: 83px;
    background-color: rgb(44, 47, 85);
}

.space {
    height: 83px;
}

.video {
    text-align: center;
    margin: 0px auto;  
    height: 530px;
}

#big {
    z-index: -1;
    position: absolute;
    left: 0;
    display: cover;
    width: 100%;
    height: inherit;
    object-fit: cover;
}

#small {
    z-index: 2;
    margin-top: 60px;
    height:inherit;
    position: relative;
    object-fit: cover;
    object-position: center -150px;
}

.line {
    position: absolute;
    z-index: 3;
    top: 120px;
    width: 100%;
}

.title a {
    position: absolute;
    display:block;  
    margin-top: 10px ;
    margin-left: 40px;
    
}


.top {
    margin-left: 100px;
}

#to a{
    
    line-height: 80px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

#to li{
    list-style: none;
    float: left;
    padding: 0px 10px;
    margin-left: 50px;
}

#to li:hover{
    border-bottom: 3px solid white;
    
}


#menu {
    margin-right: 40px;
}


#menu li{
    font-size: 14px;
    list-style: none;
    float: right;
    padding: 0px 5px;
}

#menu li a{
    display: block;
    float: left;
    text-decoration: none;
    color: #fff;
    line-height: 80px;
    padding: 0px 10px;
}


#menu li a:hover{
    border-bottom: 3px solid white;
    
    }


.all {
    text-align: right;
    margin-top: 10px;
    margin-right: 150px;
    font-size: 12px;
    margin-bottom: 70px;
}

.all a {
    text-decoration: none;
    color: #333333;
}

.all a:hover {
    text-decoration: underline;
}


.box { 
    z-index: 12;
    position:relative;
    width:200px; 
    height:56px;
    background:rgb(44, 47, 85); 
    text-align: center;
    line-height: 56px;
    margin: 0px auto;
    top: -20px;
    font-size:25px;
    font-weight: bold;
    color: #fff;
} 

.box a {
    text-decoration: none;
    color: #fff;
}

.box:hover {
    font-size: 26px;
}


.box:hover .left_top{
    height:100%;
} 


.box:hover .right_top{
    width:100%;
} 


.box:hover .right_bottom{
    height:100%;
} 


.box:hover .left_bottom{
    width:100%;
} 


.left_top{
    position:absolute;
    left:0;
    top:0;
    width:3px;
    height:0;
    transition:1s all;
    background: white;
} 


.right_top{
    position:absolute;
    right:0;
    top:0; 
    width:0; 
    height:3px;
    transition:1s all;
    background:white; 
} 


.right_bottom{
    position:absolute;
    right:0;
    bottom:0;
    width:3px;
    height:0;
    transition:1s all;
    background:white;
} 


.left_bottom{
    position:absolute;
    left:0;
    bottom:0; 
    width:0px;
    height:3px; 
    transition:1s all;
    background:white;
}


.contents {
    width: 1800px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;

}


.box2 { 
    position:relative;
    width:440px; 
    height:140px;
    text-align: center;
    background:none; 
    margin: auto;
    color: #fff;
    padding: 10px 0px;
    float: left;
    margin-right: 70px;
    margin-left: 85px;
}

.box2:hover .left_top2{
    height:100%;
} 


.box2:hover .right_top2{
    width:100%;
} 


.box2:hover .right_bottom2{
    height:100%;
} 


.box2:hover .left_bottom2{
    width:100%;
} 

.left_top2{
    position:absolute;
    left:0;
    top:0;
    width:3px;
    height:0;
    transition:1s all;
    background: rgb(44, 47, 85);
} 


.right_top2{
    position:absolute;
    right:0;
    top:0; 
    width:0; 
    height:3px;
    transition:1s all;
    background:rgb(44, 47, 85); 
} 


.right_bottom2{
    position:absolute;
    right:0;
    bottom:0;
    width:3px;
    height:0;
    transition:1s all;
    background:rgb(44, 47, 85);
} 


.left_bottom2{
    position:absolute;
    left:0;
    bottom:0; 
    width:0px;
    height:3px; 
    transition:1s all;
    background:rgb(44, 47, 85);
}


.clearfix {
    clear:both;
}



.middle {
    height: 400px;
    background-color: #333;
    /* margin-bottom: 100px; */
    text-align: center;
}

.middle h1{
    position: relative;
    top: 110px;
    color: white;
    line-height: 60px;
}

.middle p{
    margin-top: 110px;
    color: white;
}

.color {
    font-size: 60px;
    color: rgb(255, 166, 64);
}


.character {
    background-color: #fff;
    width: 900px;
    height: 500px;
    margin: 0px auto;
    /* border: 0.1px solid black; */
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.3);
    padding-top: 1px;
}

.name {
    font-size: 30px;
    color: rgb(255, 166, 64);
}

.character a{
    color: #333;
    text-decoration: none;
    position:absolute;
    right: 30%;
    margin-top: 20px;
    font-size: 12px;
}

.character a:hover {
    text-decoration: underline;
}

#ming {
    position: absolute;
    margin-left: 130px;
    margin-top: 114px;
    display: inline-block;
}

.character h2{
    text-align: left;
    margin-top: 100px;
    margin-left: 400px;
}

.character p{
    text-align: left;
    margin-top: 20px;
    margin-left: 400px;
}

.character h3{
    text-align: left;
    margin-top: 20px;
    margin-left: 400px;
}

.background {
    background-color: grey;
    padding: 50px 0px 100px 0px;
    
 }

.character:nth-child(2){
     margin : 50px auto;
}

.AC a{
     text-decoration: none;
     float: right;
     color: #fff;
     margin-right: 15%;
     margin-top: 50px;
}


.AC a:hover {
     text-decoration: underline;
}


.footer {
    margin: 0px auto;
    width: 260px;
}

.footer a{
    text-decoration: none;
    color: #333;
    float: left;
}

#foot{
    list-style: none;
}


#foot li a{
    display: block;
    float: left;
    text-decoration: none;
    color: #333;
    margin: 30px 10px 50px 10px;
    font-size: 15px;
    
}

#foot li a:hover {
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.sg {
    text-align: center;
    margin-bottom: 50px;
}

.bottom {
    background-color: rgb(224, 223, 223);
}

.event {
    text-align: center;
    background-image: url(./img/page1.png);
    height: 6180px;
}


.introduce {
    text-align: center;
    margin-top: 0px;
    color: #333;
    font-weight: 600;
    font-size: 20px;
    margin-top: 200px;
}

.introduce h1{
    position: relative;
    color: #333;
    font-size: 40px;
}


#st {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    
}

.gt {
    margin-top: 80px;
}


.service-document {
    width: 800px;
    margin-left: 22%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.service-name {
    color: #4f62cf;
}

.service-desc {
    width: 600px;
    height: 360px;
    display: inline-block;
    vertical-align: top;
}

.service-desc h2{
    font-size: 26px;
    line-height: 34px;
    letter-spacing: -0.2px;
}

.service-desc p{
    font-size:15px;
    color: #606167;
    line-height: 1.8;
    letter-spacing: -0.1px;
    margin-right: 100px;
}

.service-image {
    display: inline-block;
    position: relative;
    vertical-align: top;
    
}

.service-image img{
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
}

.main-image {
    position: absolute;
    top: 0px;
    left : 50px;
}

.red {
    color: red;
}

.index3 {
    background-color: rgb(205, 225, 233);
}


